<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<link rel="stylesheet" href="frontpage.css">
<link rel="website icon" type="png" href="images1/VC.jpg">
<body>
    <header>
        <nav>
            <div class="logo" title="MAPMATICA"><img src="images1/VC.jpg"></div>
            <ul>
                <a href="/"><button type="button">Home</button></a>
                <a href="/About"><button type="button">About</button></a>
                <div class="dropdown">
                    <a href="#Services"><button type="button"><span>Services</span></button></a>
                    <div class="dropdown-content">
                        <a href="/AirborneLidar"><button type="buttn"><span>Airborne LiDAR</span></button></a>
                        <a href="/AirborneLidar"><button type="buttn"><span>Drone Survey</span></button></a>
                        <a href="/DGPSSurvey"><button type="buttn"><span>DGPS Survey</span></button></a>
                        <a href="/DGPSSurvey"><button type="buttn"><span>OrthoPhoto</span></button></a>
                    </div>
                </div>
                <a href="/Contact"><button type="button">Contact Us</button></a>
            </ul>
        </nav>
    </header>
    <section class="main-2">
        <div id="home"></div>
        <div class="main-1">
    <h2>About Us</h2>
    <h3>We are Mapmatica, <br>
    We provide one of the best Drone Survey Services in Bangalore and unlocking <br>
    the best technologies with trusted services</h3>
    </div>
    </section>
    <div class="info">
       <p><b>MAPMATICA (OPC) PRIVATE LIMITED having CIN U72900KA2022OPC165215</b> is 1 years & 30 days old One Person Company company incorporated with MCA on 23rd August, 2022. <b>MAPMATICA (OPC) PRIVATE LIMITED </b>is listed in the class of One Person Company company and classified as Non-govt company. This company is registered at Registrar of Companies(ROC), RoC-Bangalore with an Authorized Share Capital of ₹10,00,000 and paid-up capital is ₹10,000.
        <br><br> The company Founder is <br> <b> Mr.Chikkabalapur Adinarayana Swamy Nanda Kumar.</b> MAPMATICA (OPC)
        PVT LTD company is been registered and it's Corporate Identification Number (CIN)
        provided from MCA <b>U72900KA2022OPC165215.</b> <br><br>
        As per MCA records <b>MAPMATICA (OPC) PRIVATE LIMITED</b> is involved in acivities such as 
        Computer, survey and related activities. 
       </p>
    </div>
    <section class="service">
        <h2>Our Founder</h2>
    </section>
    <div class="container">
        <div class="founder-card">
            <img src="images1/founder.jpg">
            <h3>C A Nanda Kumar</h3>
            <h4>Founder</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor iste possimus, eveniet voluptate optio nam non. Corporis, et quia magnam totam cupiditate dolorum, labore quibusdam, nam maiores saepe eligendi eaque!</p>
        </div>
    </div>
    <div class="get-container">
        <h2>Get in touch with us for all the related services.</h2>
    </div>
    <div class="contact-bttn">
        <a href="/Contact"><button type="button">Contact Us</button></a>
    </div>
    <section class="follow-us">
        <h2>Follow Us On</h2>
    </section>
    <div class="container">
        <div class="social-cardfb">
            <a href="#">
                <img src="image2/facebook-f.svg" title="FaceBook"/>
            </a><p>FaceBook</p>
            
        </div>
        <div class="social-cardig">
            <a href="#">
                <img src="image2/instagram.svg" title="Instagram"/>
            </a><p>Instagram</p>
        </div>
        <div class="social-cardli">
            <a href="#">
                <img src="image2/linkedin-in.svg" title="Linkedin"/>
            </a><p>Linkedin</p>
        </div>
    </div>
    
    <div class="footer"> 
        <div class="container">
            <div class="footer-card0">
                <img src="images1/VC.jpg" title="Mapmatica"/>
                
            </div>
            <div class="footer-card">
                <h2>Navigation Links</h2>
                <ul>
                    <li><a href="/"><button type="button">Home</button></a></li>
                    <li><a href="/AirborneLidar"><button type="bttn">Airborne LiDAR</button></a></li>
                    <li><a href="/AirborneLidar"><button type="bttn">Drone Survey</button></a></li>
                    <li><a href="/DGPSSurvey"><button type="bttn">DGPS Survey</button></a></li>
                    <li><a href="/DGPSSurvey"><button type="bttn">OrthoPhoto</button></a></li>
                    <li><a href="/About"><button type="button">About Us</button></a></li>
                    <li><a href="/Contact"><button type="button">Contact Us</button></a></li>
                </ul>
            </div>
            <div class="footer-card1">
                <h2>Location Address</h2>
                Location of the office.
                <h2>E-mail</h2>
                mail-id: xyz@gmail.com
                <h2>Phone</h2>
                123456789
            </div>
        </div>
    </div>
</body>
</html>