<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DGPS Survey</title>
</head>
<link rel="stylesheet" href="frontpage.css">
<link rel="website icon" type="png" href="images1/VC.jpg">
<body>
    <header>
        <nav>
            <div class="logo" title="MAPMATICA"><img src="images1/VC.jpg"></div>
            <ul>
                <a href="/"><button type="button">Home</button></a>
                <a href="/About"><button type="button">About</button></a>
                <div class="dropdown">
                    <a href="#Services"><button type="button"><span>Services</span></button></a>
                    <div class="dropdown-content">
                        <a href="/AirborneLidar"><button type="buttn"><span>Airborne LiDAR</span></button></a>
                        <a href="/AirborneLidar"><button type="buttn"><span>Drone Survey</span></button></a>
                        <a href="/DGPSSurvey"><button type="buttn"><span>DGPS Survey</span></button></a>
                        <a href="/DGPSSurvey"><button type="buttn"><span>OrthoPhoto</span></button></a>
                    </div>
                </div>
                <a href="/Contact"><button type="button">Contact Us</button></a>
            </ul>
        </nav>
    </header>
    <section class="main">
        <div id="home"></div>
        <div class="main-1">
    <h2>DGPS Survey</h2>
    <p>Differential Global Positioning Systems supplement and enhance the positional data available 
       from global navigation satellite systems.The utilization of DGPS in conjunction with GPS has the potential to 
       enhance accuracy significantly, improving it by a factor of around a thousandfold, reducing the margin of 
       error from roughly 49 Feet to a range of 1 to 3 centimeters.</p>
    </div>
    </section>
    <div class="info">
      <p>
        DGPS, or Differential Global Positioning System, survey is a technique used to enhance the 
        accuracy of GPS (Global Positioning System) positioning data. It corrects GPS signal errors caused by factors like 
        atmospheric conditions, signal multipath, and satellite clock inaccuracies. DGPS surveys are commonly used in applications 
        where high positioning accuracy is essential, such as land surveying, mapping, construction, agriculture, and navigation.
        <br>
        DGPS surveys are a technique used to enhance the accuracy of GPS positioning data by applying differential corrections 
        from a reference station. This technology is crucial in applications that demand high levels of positioning accuracy, 
        and it is widely used in various fields to improve the precision of location-based data collection and navigation.
      </p>
    </div>
    <section class="main">
        <div id="home"></div>
        <div class="main-1">
    <h2>OrthoPhoto</h2>
    <p>
        An orthophoto, also known as an orthophotograph, orthoimage, or orthoimagery, refers to an aerial photograph or 
        satellite image that undergoes geometric correction, a process known as "orthorectification." This correction ensures 
        that the image maintains a consistent scale and adheres to a specified map projection.
    </p>
    </div>
    </section>
    <div class="info">
        <p>
            Orthophoto processing is a geospatial technique used to create high-quality, distortion-free, and georeferenced 
            orthophotos from aerial or satellite imagery. Orthophotos are widely used in cartography, urban planning, 
            environmental monitoring, and various GIS (Geographic Information System) applications because they combine the 
            visual characteristics of a photograph with the geometric qualities of a map. 
          <br>
          Orthophoto processing is an essential component of modern geospatial data analysis and visualization, 
          enabling accurate and consistent representation of the Earth's surface for a wide range of applications.
        </p>
      </div>
    <div class="footer"> 
        <div class="container">
            <div class="footer-card0">
                <img src="images1/VC.jpg" title="Mapmatica"/>
                
            </div>
            <div class="footer-card">
                <h2>Navigation Links</h2>
                <ul>
                    <li><a href="/"><button type="button">Home</button></a></li>
                    <li><a href="/AirborneLidar"><button type="bttn">Airborne LiDAR</button></a></li>
                    <li><a href="/AirborneLidar"><button type="bttn">Drone Survey</button></a></li>
                    <li><a href="/DGPSSurvey"><button type="bttn">DGPS Survey</button></a></li>
                    <li><a href="/DGPSSurvey"><button type="bttn">OrthoPhoto</button></a></li>
                    <li><a href="/About"><button type="button">About Us</button></a></li>
                    <li><a href="/Contact"><button type="button">Contact Us</button></a></li>
                </ul>
            
            </div>
            <div class="footer-card1">
                <h2>Location Address</h2>
                Location of the office.
                <h2>E-mail</h2>
                mail-id: xyz@gmail.com
                <h2>Phone</h2>
                123456789
            </div>
        </div>
    </div>
</body>
</html>