<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapmatica</title>
    <link rel="stylesheet" href="frontpage.css">
    <link rel="website icon" type="png" href="images1/VC.jpg">
</head>
<body>
    <header>
        <nav>
            <div class="logo" title="MAPMATICA"><img src="images1/VC.jpg"></div>
            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="nav-links">
                <a href="#home"><button type="button">Home</button></a>
                <a href="/About"><button type="button">About Us</button></a>
                <div class="dropdown">
                    <a href="#Services"><button type="button"><span>Services</span></button></a>
                    <div class="dropdown-content">
                        <a href="/AirborneLidar"><button type="buttn"><span>Airborne LiDAR</span></button></a>
                        <a href="/AirborneLidar"><button type="buttn"><span>Drone Survey</span></button></a>
                        <a href="/DGPSSurvey"><button type="buttn"><span>DGPS Survey</span></button></a>
                        <a href="/DGPSSurvey"><button type="buttn"><span>OrthoPhoto</span></button></a>
                    </div>
                </div>
                <a href="/Contact"><button type="button">Contact Us</button></a>
                <a href="/login"><button type="button">Admin-Login</button></a> 
            </ul>
        </nav>
    </header>
    <section class="main">
        <div id="home"></div>
        <div class="main-1">
            <h2>Welcome to Mapmatica</h2>
            <h5>The Best way to see the world <br>Want Land Surveys and related servicws done in your Budget. You are at right place.<br>
            Scroll down to explore our Services.</h5>
        </div>
    </section>
    <section class="about">
        <div id="About">
            <div class="about-1">
                <h2>We Are Mapmatica</h2>
                <p>MAPMATICA (OPC) PRIVATE LIMITED having CIN U72900KA2022OPC165215 is 1 years & 27 days old One Person Company company incorporated with MCA on 23rd August, 2022. 
                    MAPMATICA (OPC) PRIVATE LIMITED is listed in the class of One Person Company company and classified as Non-govt company. 
                    This company is registered at Registrar of Companies(ROC), RoC-Bangalore with an 
                    Authorized Share Capital of ₹10,00,000 and paid-up capital is ₹10,000.</p>
            </div>
            <a href="/About"><button type="bttn">Learn More</button></a>
        </div>
    </section>
    <div id="Services"></div>
    <section class="service">
        <h2>Services</h2>
    </section>
    <div class="container">
        <div class="service-card1">
            <img src="images1/airbornelidar.jpg">
            <h3>Airborne LiDAR</h3>
            <p>Airborne lidar, also known as airborne laser scanning, involves the utilization of a laser scanner affixed to an 
                aircraft during its flight to generate a high-resolution 3-D point cloud representation 
                of the terrain. This approach currently stands as the most precise and meticulous technique for crafting digital elevation 
                models, supplanting the traditional method of photogrammetry.</p>
            <a href="/AirborneLidar"><button type="bttn">Learn More</button></a>
        </div>
        <div class="service-card2">
            <img src="images1/dronesurvey.jpg">
            <h3>Drone Survey</h3>
            <p>Aerial surveying entails the gathering of geomatics and related imagery through the utilization of aircraft, 
                helicopters, UAVs, balloons, or similar aerial means. The information typically gathered encompasses aerial photography, Lidar, 
                remote sensing (harnessing diverse electromagnetic spectrum bands, both visible and invisible, such as infrared, gamma, or ultraviolet). 
               </p>
            <a href="/AirborneLidar"><button type="bttn">Learn More</button></a>  
        </div>
        <div class="service-card2">
            <img src="images1/dg.jpg">
            <h3>DGPS Survey</h3>
            <p>Differential Global Positioning Systems supplement and enhance the positional data available from global navigation 
                satellite systems.The utilization of DGPS in conjunction with GPS has the potential to enhance accuracy significantly, improving it 
                by a factor of around a thousandfold, reducing the margin of error from roughly 49 Feet
                to a range of 1 to 3 centimeters.</p>
            <a href="/DGPSSurvey"><button type="bttn">Learn More</button></a>  
        </div>
        <div class="service-card2">
            <img src="images1/or.jpg">
            <h3>Ortho Photography</h3>
            <p>An orthophoto, also known as an orthophotograph, orthoimage, or orthoimagery, refers to an aerial photograph or
               satellite image that undergoes geometric correction, a process known as "orthorectification." This correction ensures that the 
               image maintains a consistent scale and adheres to a specified map projection.</p>
            <a href="DGPSSurvey"><button type="bttn">Learn More</button></a>  
        </div>
    </div>
    <section class="other-services">
        <h2>Other Services Offered</h2>
    </section>
    <div class="container">
        <div class="os-card">
            <img src="images1/trop.jpg">
            <p>Digital Topographical Survey</p>
        </div>
        <div class="os-card1">
            <img src="images1/gis.jpg">
            <p>Tree Mapping</p>
        </div>
        <div class="os-card2">
            <img src="images1/cad.jpg">
            <p>Digitization And CAD Plotting</p>
        </div>
        <div class="os-card3">
            <img src="images1/mark.jpg">
            <p>Marking And Setting Out</p>
        </div>
    </div>
    <div class="footer"> 
        <div class="container">
            <div class="footer-card0">
                <img src="images1/VC.jpg" title="Mapmatica"/>
                
            </div>
            <div class="footer-card">
                <h2>Navigation Links</h2>
                <ul>
                    <li><a href="/"><button type="button">Home</button></a></li>
                    <li><a href="/AirborneLidar"><button type="bttn">Airborne LiDAR</button></a></li>
                    <li><a href="/AirborneLidar"><button type="bttn">Drone Survey</button></a></li>
                    <li><a href="/DGPSSurvey"><button type="bttn">DGPS Survey</button></a></li>
                    <li><a href="/DGPSSurvey"><button type="bttn">OrthoPhoto</button></a></li>
                    <li><a href="/About"><button type="button">About Us</button></a></li>
                    <li><a href="/Contact"><button type="button">Contact Us</button></a></li>
                </ul>
            
            </div>
            <div class="footer-card1">
                <h2>Location Address</h2>
                Location of the office.
                <h2>E-mail</h2>
                mail-id: xyz@gmail.com
                <h2>Phone</h2>
                123456789
            </div>
            
        </div>
    </div>
    <script src="frontpage.js"></script>
</body>
</html>