<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/signup.css">
</head>
<body>
  <div class="container">
    <form class="signup-form" action="/signupajfsfdhsjfndafndnvnmcvzmnfeuwuqerenbmdafnbfbnbnvbcnvcnzvncnvncvncnbvnbvzvvcnvncznvcnznvncxnvrjahhjrthrwhghgfshjfjkgkjfskjlgkjlgkjlflkjgkjdskjgkgkjfgjyetyytewuiureiotyitiyioeittewyjkfnvcnvncgfjhghjfhgfgjfgnmvnmvcnxfbnbcasasifrazaindexsignup" method="post">
      <h2>Sign Up</h2>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter your name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
      </div>

      <div class="form-group">
        <label for="phnumber">Phone Number</label>
        <input type="number" name="phnumber" placeholder="Enter your phone number" required>
      </div>
     

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit">Sign Up</button>
    </form>
    <div class="signin-link">
      <p>Already have an account? <a href="login">Sign In</a></p>
    </div>
   
    <footer class="footer">
        &copy;  All Rights Reserved By Mapmatica.
    
      </footer>
  </div>
</body>
</html>